/* start variables */
:root {
    --main-color: #f02910;
    --section-padding: 70px;
}
/* end variables */
/* start global rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: sans-serif;
}
ul {
    list-style-type: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* small screen*/
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* medium screen */ 
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* large screen */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* end global rules */

/* start components*/
.main-heading {
    text-align: center;
    padding: 0 15px var(--section-padding);
}
.main-heading h1 {
    margin-bottom: 20px;
}
.main-heading p {
    opacity: .6;
}
/* end components*/

/* start header */
header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-top: 25px;
}
header .logo {
    width: 200px;
}
header .nav-menu {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}
header .nav-menu .toggle-menu {
    font-size: 40px;
}
header .nav-menu ul { 
    display: flex;
    transition: 1s;
}
header .nav-menu ul li {
    padding: 0 0 0 20px;
}
header .nav-menu ul li a {
    text-decoration: none;
    color: white;
}
header .nav-menu ul li a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
@media (min-width: 768px) {
    header .nav-menu .toggle-menu {
        display: none;
    }
}
@media (max-width: 767px) {
    header .nav-menu ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: -400px;
        left: 0;
        background-color: var(--main-color);
        width: 100%;
    }
    header .nav-menu .toggle-menu:hover + ul  {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: var(--main-color);
        width: 100%;
    }
    header .nav-menu ul li {
        padding: 25px 30px;
        border-bottom: 1px solid black;
    }
}
/* end header */
/* start landing */
.landing {
    background-image: url(../images/banner.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 10px;
    color: white;
    position: relative;
}
.landing .content {
    position: absolute;
    width: 90%;
}
.landing::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0 , 0 , 0 , .5);
}
.landing h1 {
    margin-bottom: 25px;
    font-size: 50px;
}
.landing p {
    margin-bottom: 30px;
}
.landing  button {
    padding: 10px 25px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    position: relative;
}
.landing  button::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 1px;
    background-color: white;
    top: 50%;
    right: -6%;;
}
.landing  button::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 1px;
    background-color: white;
    top: 50%;
    left: -8%;
}
.landing  button:hover {
    background-color: var(--main-color);
}
/* end landing */

/* start courses */
.courses {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.courses .levels {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(280px , 1fr));
    gap: 40px;
}
.courses .levels .box {
    background-color: #f6ddd4;
    border-radius: 10px;
    text-align: center;
    padding: 25px;
}
.courses .levels .box:hover {
    box-shadow: 0 0 10px 0px grey;
    transform: scale(1.1);
    transition: .5s;
}
.courses .levels .box h1 {
    font-size: 25px;
    margin-bottom: 15px;
}
.courses .levels .box p {
    opacity: .6;
}
/* end courses */

/* start campus */
.campus {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.campus .cities {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(280px , 1fr));
    gap: 40px;
}
.campus .cities div[class*="box"] {
    background-size: cover;
    background-position: center;
    height: 600px;
    position: relative;
    border-radius: 10px;
}
.campus .cities .box1 {
    background-image: url(../images/london.png);
}
.campus .cities .box1:hover::after {
    content: "LONDON";
}
.campus .cities .box2 {
    background-image: url(../images/newyork.png);
}
.campus .cities .box2:hover::after {
    content: "NEW YORK";
}
.campus .cities .box3 {
    background-image: url(../images/washington.png);
    
}
.campus .cities .box3:hover::after {
    content: "WASHINGTON";
}
.campus .cities div[class*="box"]:hover::after {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-size: 30px;
}
.campus .cities div[class*="box"]:hover::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    opacity: .6;
    border-radius: 10px;
}

/* end campus */

/* start facilities */
.facilities {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.facilities .container {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(280px , 1fr));
    gap: 40px;
    text-align: center;
}
.facilities  img {
    max-width: 350px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}
.facilities  .content h2 {
    margin-bottom: 15px;
}
.facilities  .content p {
    opacity: .6;
}

/* end facilities */

/* start testimonials */
.testimonials {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(400px , 1fr));
    gap: 40px;
}
@media (max-width: 500px) {
    .testimonials .container {
        display: grid;
        grid-template-columns: repeat(auto-fill , minmax(350px , 1fr));
        gap: 40px;
    }
}
.testimonials  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 25px;
    outline: 2px solid var(--main-color);
}
.testimonials div[class*="box"] {
    background-color: #f6ddd4;
    padding: 25px;
    border-radius: 10px;
    display: flex;
}
.testimonials div[class*="box"]:hover {
    box-shadow: 0 0 10px 0px grey;
    transform: scale(1.1);
    transition: .5s;
}
.testimonials div[class*="box"] h2 {
    margin-bottom: 20px;
}
.testimonials div[class*="box"] p {
    opacity: .6;
}

/* end testimonials */

/* start contact */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
    height: 500px;
}
.contact .container {
    background-image: url(../images/banner2.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    border-radius: 30px;
}
@media (max-width: 767px) {
    .contact .container {
        margin: 0 10px;
    }
}
.contact .container::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .6;
    border-radius: 30px;
}
.contact h1 {
    z-index: 1;
    line-height: 1.5;
    margin-bottom: 25px;
}
.contact button {
    z-index: 1;
    padding: 15px 40px;
    background-color: transparent;
    color: wheat;
    border: 1px solid white;
    border-radius: 7px;
    font-weight: bold;
    position: relative;
}
.contact button::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 1px;
    background-color: white;
    top: 50%;
    left: -8%;
}
.contact button::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 1px;
    background-color: white;
    top: 50%;
    right: -6%;
}
.contact button:hover {
    background-color: var(--main-color);
}
/* end contact */
/* start footer */
.footer {
    text-align: center;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.footer .icons{
    margin: 0 0 15px;
}
.footer .icons i{
    margin: 0 10px;
}
.footer .icons .fa-brands {
    color: var(--main-color);
    cursor: pointer;
}

/* end footer */

